/* Шрифты */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Robotolight.woff2"), url("../fonts/Robotolight.woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto.woff2"), url("../fonts/Roboto.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Robotomedium.woff2"), url("../fonts/Robotomedium.woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Robotobold.woff2"), url("../fonts/Robotobold.woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Yeseva One";
    src: url("../fonts/yesevaone.woff2"), url("../fonts/yesevaone.woff");
    font-weight: normal;
    font-style: normal;
}

/* END of Шрифты */
/* "Общие" стили (стили родительских элементов секций) */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    color: #ffffff;
    background-color: #151313;
}

/* END of "Общие" стили */
/* Базовые стили - стили, применяемые в нескольких секциях */
a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.section
{
    background-color: #1f1c1d;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    border: 0;
    clip-path: inset(100%);
}

.container {
    position: relative;
    max-width: 1286px;
    margin: 0 auto;
    padding: 0 40px;
}

.section__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.section__title {
    margin: 0;
    font-family: "Yeseva One", "Georgia", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
    text-align: center;
}

.section__lead {
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #a07b50;
}

.see_more__btn {
    text-align: center;
    width: 200px;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #a07b50;
    background-color: transparent;
    text-decoration: none;
    padding: 18px;
    transition: background-color 0.3s ease-out, color 0.3s ease-out, border 0.3s ease-out, transform 0.3s ease-out;
    margin-bottom: 110px;
}

.see_more__btn:hover {
    background-color: #a07b50;
    color: #151313;
    border: 1px solid #ffffff;
    transform: rotateZ(15deg) scale(1.5, 1.5);
    z-index: 999;
}

/* END of Базовые стили */
/* Шапка - название, логотип и основная информация */
.header {
    position: relative;
    background-color: #151313;
}

.header__container {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 80px;
    background-image: url("../img/main-cat-desktop@2x.png");
    background-repeat: no-repeat;
    background-size: 630px auto;
    background-position: right 0 bottom 0;
}

.header__wrapper {
    margin: 0 auto;
    width: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 47px;
    padding-bottom: 64px;
    overflow: hidden;
    z-index: 2;
}

.header__logo {
    display: block;
    width: 100%;
    margin-bottom: 78px;
    text-align: center;
}

.header__logo svg {
    fill: #a07b50;
    stroke: #151313;
    stroke-width: 0.8;
    transition: fill 0.3s ease-out;
}

.header__logo svg:hover,
.header__logo svg:focus {
    fill: #ffffff;
}

.header__content {
    width: auto;
    padding-left: 125px;
}

.header__city {
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #a07b50;
    max-width: 330px;
    margin-top: 30px;
    margin-bottom: 17px;
}

@media (max-width: 767px) {
    .header__city {
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 5px;
        max-width: 277px;
    }
}

.header__title {
    margin: 0 0 16px;
    font-family: "Yeseva One", "Georgia", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 60px;
    color: #ffffff;
    max-width: 350px;
    transform: translateX(-3px);
}

.header__lead {
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #a07b50;
    max-width: 330px;
    margin: 0 0 48px;
}

/* END of Шапка */
/* Секция 1 - картинки с котами */
.pets__tab-content-wrapper {
    width: 100%;
}

.pets__wrapper {
    padding-top: 223px;
    padding-bottom: 21px;
}

.pets__title {
    margin-bottom: 20px;
}

.pets__lead {
    margin-bottom: 42px;
    max-width: 523px;
}

.pets__list {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 259px;
    margin: 0 auto 44px;
    padding: 0 10px 0 0;
}

.pets__item {
    margin-right: auto;
}

.pets__item:last-of-type {
    margin-right: 0;
}

.pets__tab {
    display: block;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #ffffff;
    border: none;
    background-color: transparent;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease-out;
}

.pets__tab:hover,
.pets__tab--active {
    opacity: 1;
}

.pets__tab:hover::after {
    content: "";
    width: 100%;
    display: block;
    height: 0;
    box-shadow: 0 0 0 2px #ffffff;
    animation: multicolor__line 2s ease-out infinite;
    margin-bottom: 0;
    position: static;
}

@keyframes multicolor__line {
    33.3% {
        box-shadow: 0 0 0 2px #8B0000;
    }

    66.6% {
        box-shadow: 0 0 0 2px #a07b50;
    }

    99.9% {
        box-shadow: 0 0 0 2px #ffffff;
    }
}

.pets__tab-content {
    display: none;
}

.pets__tab-content button {
    display: none;
    margin: 0;
}

.pets__sliders-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.pets__btn-wraper {
    width: 100%;
}

.pets__btn {
    margin: 0 auto 40px;
    padding: 18px;
}

/* Слайды, содержащие плитки с картинками */
.slider {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.slider__container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: visible;
    list-style: none;
    padding: 0;
}

.slider__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
    overflow: visible;
}

.slider__slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.3s ease-out, z-index 0.3s ease-out, border-radius 0.3s ease-out, box-shadow 0.3s ease-out;
}

.slider__slide:hover {
    transform: scale(1.25, 1.25);
    z-index: 999;
    border-radius: 15px;
    box-shadow: 0 0 20px 15px #151313;
}

.slider__button {
    z-index: 5;
    display: block;
    width: 14px;
    height: 31px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.slider__button::after {
    display: none;
}

.slider__button--prev,
.slider__button--next {
    position: absolute;
    top: 50%;
}

.slider__button--prev {
    left: 0;
    background-image: url("../img/arrowPrev.svg");
}

.slider__button--next {
    right: 0;
    background-image: url("../img/arrowNext.svg");
}

/* Блок картинок в Секции 1 */
.gallery {
    display: block;
    width: 100%;
    max-width: 1068px;
    height: auto;
    margin: 0 auto 56px;
    column-count: 2;
    column-gap: 30px;
    padding-left: 30px;
}

@media (max-width: 1023px) {
    .gallery {
        display: grid;
        column-count: 1;
        column-gap: 0;
        row-gap: 10px;
        margin-bottom: 56px;
        padding-left: 0;
        align-items: center;
    }
}

.gallery__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.gallery__layout-column {
    margin-right: 35px;
}

.gallery__item {
    flex-shrink: 1;
    line-height: 0;
    break-inside: avoid;
    page-break-inside: avoid;
    overflow: hidden;
    width: 100%;
}

.gallery__item--top {
    margin-bottom: 30px;
    height: 214px;
}

.gallery__item--bottom {
    height: 241px;
}

.gallery__item--large {
    width: calc(100% - 30px);
    max-width: 474px;
    height: 485px;
}

.gallery__item img {
    line-height: 0;
}

.gallery__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* END of Секция 1 */
/* Секция 2 - Особенности породы Мейн-Кун */
.breed-features__wrapper {
    position: relative;
    padding-top: 21px;
    padding-bottom: 129px;
}

.breed-features__title {
    margin-bottom: 20px;
    transform: translateX(10px);
}

.breed-features__image {
    width: 602px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    transform: translateX(33px);
}

.breed-features__image::before {
    content: "";
    position: absolute;
    top: 105px;
    left: 24px;
    z-index: -1;
    width: 519px;
    height: 519px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.35);
}

.breed-features__image::after {
    content: "";
    position: absolute;
    top: 49px;
    left: -30px;
    z-index: -1;
    border-radius: 50%;
    width: 631px;
    height: 631px;
    border: 1px solid #a07b50;
}

.breed-features__lead {
    margin-bottom: 23px;
    width: 62%;
}

.breed-features__list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    font-size: 16px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
    line-height: 25px;
}

.breed-features__item {
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    color: #ffffff;
    position: relative;
    transition: background-color 0.3s ease-out, color 0.3s ease-out, box-shadow 0.3s ease-out, border-radius 0.3s ease-out;
}

.breed-features__item:hover {
    background-color: #a07b50;
    color: #1f1c1d;
    box-shadow: 0 0 0 10px #a07b50;
    border-radius: 5px;
}

.breed-features__item::before {
    content: "";
    position: absolute;
    top: 7px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #a07b50;
}

.breed-features__item--cohabitation {
    font-size: 14px;
    line-height: 21px;
    top: 343px;
    left: -409px;
    max-width: 255px;
    text-align: right;
}

.breed-features__item--cohabitation::before {
    right: -39px;
}

.breed-features__item--instruction {
    top: 411px;
    right: -482px;
    max-width: 201px;
}

.breed-features__item--instruction::before {
    top: 3px;
    left: -36px;
}

.breed-features__item--weight {
    top: 584px;
    right: -444px;
    max-width: 160px;
}

.breed-features__item--weight::before {
    top: 6px;
    left: -33px;
}

.breed-features__item--appearance {
    max-width: 200px;
    top: 495px;
    left: -370px;
    text-align: right;
}

.breed-features__item--appearance::before {
    right: -31px;
}

@media (max-width: 1170px) {
    .breed-features__item--cohabitation {
        left: -368px;
        max-width: 167px;
    }

    .breed-features__item--instruction {
        right: -442px;
        max-width: 132px;
    }

    .breed-features__item--weight {
        right: -342px;
        max-width: 110px;
    }

    .breed-features__item--appearance {
        left: -295px;
        max-width: 140px;
    }
}

/* END of Секция 2 */
/* Секция 3 - преимущества питомника */
.advantages__wrapper {
    padding-top: 83px;
    padding-bottom: 64px;
}

.advantages__title {
    margin-bottom: 20px;
}

.advantages__lead {
    margin-bottom: 46px;
    word-spacing: 2px;
}

.advantages__list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 95%;
}

.advantages__item {
    background-color: #1f1c1d;
    width: 31.4%;
    min-height: 301px;
    margin-right: 2.9%;
    margin-bottom: 2.9%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.advantages__item:last-of-type {
    margin-right: 0;
}

.advantages__link {
    display: block;
    max-width: 320px;
    min-height: 263px;
    margin: auto;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    padding-top: 47px;
    padding-bottom: 16px;
    transition: background-color 0.3s ease-out, fill 0.3s ease-out, stroke 0.3s ease-out, border-radius 0.3s ease-out;
    position: relative;
}

.advantages__link:hover {
    background-color: #a07b50;
    color: #1f1c1d;
    border-radius: 15px;
    animation: advantages__link__anim 0.3s ease-out normal;
}

@keyframes advantages__link__anim {
    0% {
        transform: skew(0, 0);
    }

    50% {
        transform: skew(15deg, 15deg);
    }

    100% {
        transform: skew(0, 0);
    }
}

.advantages__link--24hours::before,
.advantages__link--consult::before,
.advantages__link--individual::before {
    display: block;
    content: "";
    position: absolute;
    top: 47px;
    left: 110px;
}

.advantages__link--24hours::before {
    width: 107px;
    height: 97px;
    background-image: url(../img/feature-24hours.png);
}

.advantages__link--consult::before {
    width: 99px;
    height: 107px;
    background-image: url(../img/feature-consult.png);
}

.advantages__link--individual::before {
    width: 71px;
    height: 108px;
    background-image: url(../img/feature-individual.png);
}

.advantages__link span {
    display: block;
    margin: 115px auto 10px;
    width: 233px;
}

/* END of Секция 3 */
/* Дополнительный стиль (помещён в конец, чтобы он не "перекрывал" другие стили */
.show {
    display: block;
}
